@charset "UTF-8";

@font-face {
  font-family: "pixlbox";
  src:url("fonts/pixlbox.eot");
  src:url("fonts/pixlbox.eot?#iefix") format("embedded-opentype"),
    url("fonts/pixlbox.woff") format("woff"),
    url("fonts/pixlbox.ttf") format("truetype"),
    url("fonts/pixlbox.svg#pixlbox") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "pixlbox" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="pb-"]:before,
[class*=" pb-"]:before {
  font-family: "pixlbox" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pb-pin:before {
  content: "\e000";
}
.pb-attach:before {
  content: "\e001";
}
.pb-basket:before {
  content: "\e002";
}
.pb-air:before {
  content: "\f001";
}
.pb-arrows-ccw:before {
  content: "\e004";
}
.pb-download:before {
  content: "\e005";
}
.pb-export:before {
  content: "\e006";
}
.pb-heart:before {
  content: "\e007";
}
.pb-heart-empty:before {
  content: "\e008";
}
.pb-login:before {
  content: "\e009";
}
.pb-logout:before {
  content: "\e00a";
}
.pb-user:before {
  content: "\e00b";
}
.pb-upload-cloud:before {
  content: "\e00c";
}
.pb-trash:before {
  content: "\e00d";
}
.pb-unlock-alt:before {
  content: "\e014";
}
.pb-twitter-circle:before {
  content: "\e015";
}
.pb-linked-in-circle:before {
  content: "\e016";
}
.pb-google-plus-circle:before {
  content: "\e017";
}
.pb-facebook-circle:before {
  content: "\e018";
}
.pb-check-circle:before {
  content: "\e019";
}
.pb-ios-cloud-download-outline:before {
  content: "\e01a";
}
.pb-gear-a:before {
  content: "\e01b";
}
.pb-social-whatsapp:before {
  content: "\e01c";
}
.pb-mail:before {
  content: "\e01d";
}
.pb-blacktie-light-webfont:before {
  content: "\f000";
}
.pb-blacktie-light-webfont-1:before {
  content: "\f00c";
}
.pb-blacktie-light-webfont-2:before {
  content: "\f012";
}
.pb-blacktie-light-webfont-3:before {
  content: "\f098";
}
.pb-blacktie-light-webfont-4:before {
  content: "\f099";
}
.pb-blacktie-light-webfont-5:before {
  content: "\f09a";
}
.pb-blacktie-light-webfont-6:before {
  content: "\f09b";
}
.pb-blacktie-light-webfont-7:before {
  content: "\f091";
}
.pb-blacktie-light-webfont-8:before {
  content: "\f090";
}
.pb-blacktie-light-webfont-9:before {
  content: "\f092";
}
.pb-blacktie-light-webfont-10:before {
  content: "\f093";
}
.pb-blacktie-light-webfont-11:before {
  content: "\e034";
}
.pb-blacktie-light-webfont-12:before {
  content: "\e035";
}
.pb-blacktie-light-webfont-13:before {
  content: "\e036";
}
.pb-blacktie-light-webfont-14:before {
  content: "\e037";
}
.pb-blacktie-light-webfont-15:before {
  content: "\e038";
}
.pb-human:before {
  content: "\e003";
}
.pb-marker:before {
  content: "\e00e";
}
.pb-pbdiamond-full:before {
  content: "\e00f";
}
.pb-pbdiamond-outline:before {
  content: "\e010";
}
.pb-pbmark-med:before {
  content: "\e011";
}
.pb-pbmark-thick:before {
  content: "\e012";
}
.pb-pbmark-thin:before {
  content: "\e013";
}
.pb-rocket:before {
  content: "\e01e";
}
.pb-thumb:before {
  content: "\e01f";
}
.pb-upgrade:before {
  content: "\e020";
}
.pb-pbtype-full:before {
  content: "\e021";
}
.pb-pbtype-sq:before {
  content: "\e022";
}
