
/* hide ctas pre-live 
article.blkfriday input[type=checkbox] {
    display: none !important;
}
article.blkfriday div a.inlineButton {
    display: none !important;
}
*/

article.blkfriday input[type=checkbox] {
    display: inline-block;
    margin:1em;
}

article.blkfriday {
    background-color: rgba(0,0,0,1.0);
    background-image: url(/_pbImages/Site/TD/blkfriday/bg-80.jpg);
    padding:3vw;
    color: #ffffff;
    border-radius: 6px;
    margin-right: 2vw;
    box-shadow: 0 0 20px 5px #cccccc;
}
article.blkfriday h1 {
    color: #ffffff;
    text-transform: none;
    font-size: 1.6em;
    line-height: 0.9em;

}
article.blkfriday h3 {
    color: #ffffff;
    text-transform: none;
    font-size: 1.1em;
    line-height: 1.2em;
}

article.blkfriday h4 {
    color: cyan;
    text-transform: none;
    font-size: 1.1em;
    line-height: 1.4em;
}

article.blkfriday div.imageHeader img {
    width:100%;
    height: auto;
}
article.blkfriday div.imageHeader {
    width:100%;
    margin-bottom: 2em;
}



div.listGroup ul {
    padding:0;
    column-gap: 4%;
    row-gap: 1vw;
}
div.listGroup ul li {
    border-bottom:1px solid rgba(87,166,123,1.0);
    background-color: rgba(0,0,0,0.5);
    padding-top:10px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    flex-basis: 1 1 auto;
}
div.listGroup div.blkThumb {
    width:85px;
    height: 60px;
    background-color: #ffffff;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 0.5vw;
    margin-right: 2vw;
    border-radius: 0px;
    padding-top: 4em;
}
div.listGroup div.selectItem {
    margin-left: auto;
    padding-right: 1vw;
}
@media screen and (max-width:1000px) {
    article.blkfriday > header {
        padding-bottom: 1em !important;
    }
    article.blkfriday div.imageHeader > div:first-child {
        margin-top:20px;
        margin-bottom: 10px;
    }
    article.blkfriday h1 {
        color: #ffffff;
        text-transform: none;
        font-size: 1.4em;
    }
    article.blkfriday h3 {
        color: #ffffff;
        text-transform: none;
        font-size: 1em;
        line-height: 0.9em;
    }
    div.listGroup div.blkThumb {
        width:70px;
        height: 50px;
        margin-right: 4vw;
    }
    .d {
        display: none;
    }
}

@media screen and (min-width:1000px) {
    article.blkfriday p.introTxt {
        max-width:70%;
        margin: 0px auto;
    }
    article.blkfriday div.imageHeader {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }
    article.blkfriday div.imageHeader > div {
        flex-basis: 37%;
    }
    article.blkfriday div.imageHeader > div:first-child {
        flex-basis: 60%;
    }

    div.blkThumb {
        width: 190px !important;
        height: 120px !important;
        /* margin-right: 1vw !important;*/
    }

    div.listGroup ul {
        padding:0;
        display: flex;
        flex-wrap: wrap;
        column-gap: 4%;
        row-gap: 0;
        margin-bottom: 0;
    }
    div.listGroup ul li {
        flex-basis: 48%;
    }

    /*
    article.blkfriday div.content {
        display: flex;
        flex-wrap: wrap;
        column-gap: 2vw;
        row-gap: 2vw;
        justify-content: center;
        align-items: stretch;
    }
    article.blkfriday div.listGroup {
        flex-basis: 40%;
        padding:2vw;
    }
    */
    .m {
        display: none;
    }
}


article.blkfriday > header {
    text-align: center;
    font-size: 140%;
}

div.listGroup ol {
    margin:0;
    padding:0;
    margin-bottom: 1.5em;
}
div.listGroup ol li {
    margin: 0;
    padding: 2px 0;
    line-height: 1.2em;
    font-weight: 300;
    border:none;
    color: rgba(255,255,255,0.6);
}

div.titleHeader {
    background-color: white;
    padding:5vw;
    margin: 0.5vw;
}

div.titleHeader h2 {
    color: #222222;
    font-weight: bold;
    font-size:2em;
}
div.titleHeader h5 {
    font-weight: 300;
}

@media screen and (min-width:1000px) {
    div.titleHeader {
        padding:1.5vw 2vw 2vw 2vw;
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        column-gap: 10vw;
    }

    div.titleHeader > div {
        flex: 1 1 auto;
    }
    
}