
/* hide ctas pre-live 
article.blkfriday input[type=checkbox] {
    display: none !important;
}
article.blkfriday div a.inlineButton {
    display: none !important;
}
*/

article.blkfriday input[type=checkbox] {
    display: inline-block;
    margin:1em;
}

article.blkfriday {
    background-color: rgba(0,0,0,1.0);
    background-image: url(/_pbImages/Site/TD/blkfriday/bg-80.jpg);
    padding:3vw;
    color: #ffffff;
    border-radius: 6px;
    margin-right: 2vw;
    box-shadow: 0 0 20px 5px #cccccc;
}
article.blkfriday h1 {
    color: #ffffff;
    text-transform: none;
    font-size: 1.6em;
    line-height: 0.9em;

}
article.blkfriday h3 {
    color: #ffffff;
    text-transform: none;
    font-size: 1.1em;
    line-height: 1.2em;
}

article.blkfriday h4 {
    color: cyan;
    text-transform: none;
    font-size: 1.1em;
    line-height: 1.4em;
}

article.blkfriday div.imageHeader img {
    width:100%;
    height: auto;
}
article.blkfriday div.imageHeader {
    width:100%;
    margin-bottom: 2em;
}



div.listGroup ul {
    padding:0;
    column-gap: 4%;
    row-gap: 1vw;
}
div.listGroup ul li {
    border-bottom:1px solid rgba(87,166,123,1.0);
    background-color: rgba(0,0,0,0.5);
    padding-top:10px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}
div.listGroup ul li > div.desc {
    flex: 0 0 60%;
}
div.listGroup div.blkThumb {
    width:85px;
    height: 60px;
    background-color: #ffffff;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 0.5vw;
    margin-right: 2vw;
    border-radius: 0px;
    padding-top: 4em;
}
div.listGroup div.selectItem {
    margin-left: auto;
    padding-right: 1vw;
}
@media screen and (max-width:1000px) {
    article.blkfriday > header {
        padding-bottom: 1em !important;
    }
    article.blkfriday div.imageHeader > div:first-child {
        margin-top:20px;
        margin-bottom: 10px;
    }
    article.blkfriday h1 {
        color: #ffffff;
        text-transform: none;
        font-size: 1.4em;
    }
    article.blkfriday h3 {
        color: #ffffff;
        text-transform: none;
        font-size: 1em;
        line-height: 0.9em;
    }
    div.listGroup div.blkThumb {
        width:70px;
        height: 50px;
        margin-right: 4vw;
    }
    .d {
        display: none;
    }
}

@media screen and (min-width:1000px) {
    article.blkfriday p.introTxt {
        max-width:70%;
        margin: 0px auto;
    }
    article.blkfriday div.imageHeader {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }
    article.blkfriday div.imageHeader > div {
        flex-basis: 37%;
    }
    article.blkfriday div.imageHeader > div:first-child {
        flex-basis: 60%;
    }

    div.blkThumb {
        width: 190px !important;
        height: 120px !important;
        /* margin-right: 1vw !important;*/
    }

    div.listGroup ul {
        padding:0;
        display: flex;
        flex-wrap: wrap;
        column-gap: 4%;
        row-gap: 0;
        margin-bottom: 0;
    }
    div.listGroup ul li {
        flex-basis: 48%;
    }

    /*
    article.blkfriday div.content {
        display: flex;
        flex-wrap: wrap;
        column-gap: 2vw;
        row-gap: 2vw;
        justify-content: center;
        align-items: stretch;
    }
    article.blkfriday div.listGroup {
        flex-basis: 40%;
        padding:2vw;
    }
    */
    .m {
        display: none;
    }
}


article.blkfriday > header {
    text-align: center;
    font-size: 140%;
}

div.listGroup ol {
    margin:0;
    padding:0;
    margin-bottom: 1.5em;
}
div.listGroup ol li {
    margin: 0;
    padding: 2px 0;
    line-height: 1.2em;
    font-weight: 300;
    border:none;
    color: rgba(255,255,255,0.6);
}

div.titleHeader {
    background-color: white;
    padding:5vw;
    margin: 0.5vw;
}

div.titleHeader h2 {
    color: #222222;
    font-weight: bold;
    font-size:2em;
}
div.titleHeader h5 {
    font-weight: 300;
}

@media screen and (min-width:1000px) {
    div.titleHeader {
        padding:1.5vw 2vw 2vw 2vw;
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        column-gap: 10vw;
    }

    div.titleHeader > div {
        flex: 1 1 auto;
    }

}





article.blkfriday.clearance {
    background-color: white;
    background-image: none;
    border-radius: 0;
    box-shadow: none;
    padding-bottom: 2.5em;
}

article.blkfriday.clearanceContent {
    background-color: #e53525;
    background-image: none;
    border-radius: 0;
    box-shadow: none;
    padding-top: 2em;
}
article.blkfriday.clearanceContent.light {
    background-color: #efefef;
    background-image: none;
    border-radius: 0;
    box-shadow: none;
    padding-top: 2em;
}
article.blkfriday.clearanceContent a {
    color: #ffffff;
}
article.blkfriday.clearance h1,
article.blkfriday.clearance h2 {
    color: #245784;
}

article.blkfriday.clearance h1 {
    font-size: 5vw;
    font-weight: 1000;
    line-height: 1.1em;
    padding-bottom: 0;
}

article.blkfriday.clearance h2 {
    font-weight: 1000;
    font-size: 2.1vw;
}

article.blkfriday.clearanceContent h3 {
    font-size: 1.4em;
    line-height: 1.3em;
}
article.blkfriday.clearanceContent li h3 {
    color: #111111;
}
article.blkfriday.clearanceContent li h1 {
    color: #e53525;
    font-weight: 1000;
    font-size: 3.5em;
    margin: 15px 0;
    letter-spacing: -0.04em;
}
article.blkfriday.clearanceContent li h1 span {
    font-weight: 500;
    font-size: 40%;
    letter-spacing: 0;
}


article.blkfriday.clearanceContent h3 span {
    font-weight: 500;
}
article.blkfriday.clearanceContent h5 {
    background-color: #e53525;
    color: #ffffff;
    padding: 5px 15px;
    display: inline-block;
}

article.blkfriday.clearanceContent h6 {
    font-size: 0.9em;
}


article.blkfriday.clearanceContent div.titleHeader {
    background:none;
    max-width:1200px;
    margin: 0px auto;
    padding: 0;
    margin-bottom: 2em;
    text-align: center;

}

article.blkfriday.clearanceContent p {
    font-size: 1.2em;
    text-wrap: balance;
}

div.fixedCTA {
    background-color: rgba(255,255,255,0.95);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

div.fixedCTA div {
    padding: 0.5em 1em;
    text-align: center;
}

div.fixedCTA a {
    font-size: 1.2em;
}

article.blkfriday.clearance img.logo {
    max-width: 500px;
    margin-bottom: 1em;
}

article.blkfriday.clearanceContent div.selectItem {
    padding-left: 0;
    position: relative;
    margin-top: 0.5em;
}
article.blkfriday.clearanceContent div.selectItem label {
    position: absolute;
    font-size: 1.1em;
    color: #e53525;
    top: 0.5em;
    font-weight: 700; 
}
article.blkfriday.clearanceContent div.selectItem label:hover {
    cursor: pointer;
}
article.blkfriday.clearanceContent div.selectItem input {
    margin-left: 0;
    margin-right: 5px;
}


article.blkfriday.clearanceContent div.listGroup ul {
    row-gap: 2em;
}

article.blkfriday.clearanceContent div.listGroup ul li {
    border-bottom:none;
    background-color:white;
    padding-top:10px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

article.blkfriday.clearanceContent div.listGroup div.blkThumb {
    width:85px;
    margin-right:1vw;
    background-size: cover;
}



div.lozenge {
    background-color: #245784;
    border-radius: 50%;
    width:110px;
    height:110px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:-20px;
    left: -20px;
}

div.lozenge div {
    text-align: center;
    font-size: 30px;
    line-height: 20px;
}
div.lozenge div span {
    font-size: 15px;
}


@media screen and (max-width:1000px) {
    article.blkfriday.clearance img.logo {
        width: 60vw;
        margin-bottom:5px;
    }
    article.blkfriday.clearance h1 {
        font-size: 8vw;
        padding-bottom: 0;
    }
    article.blkfriday.clearance h2 {
        font-size: 3.5vw;
    }

    article.blkfriday.clearance {
        padding-top: 2em;
        padding-bottom: 1em;
    }
    article.blkfriday.clearanceContent {
        padding: 2em;
    }
    article.blkfriday.clearanceContent div.titleHeader {
        margin-bottom: 3em;
    }
    article.blkfriday.clearanceContent div.listGroup div.blkThumb {
        width:30vw;
        height: 30vw;
        margin-right:3vw;
        background-size: contain;
        align-self: flex-end;
    }

    article.blkfriday.clearanceContent div.listGroup ul li {
        padding-right: 10px;
        padding-bottom: 10px;
        margin-bottom: 30px;
    }


    article.blkfriday.clearanceContent li h1 {
        color: #e53525;
        font-weight: 1000;
        font-size: 2em;
        margin: 10px 0 5px 0;
        letter-spacing: -0.04em;
    }

    article.blkfriday.clearanceContent h3 {
        font-size: 1.2em;
        line-height: 1.3em;
    }

    div.lozenge {
        width:80px;
        height:80px;
        top:-10px;
        left: -5px;
    }
    div.lozenge div {
        font-size: 22px;
        line-height: 18px;
    }
    div.lozenge div span {
        font-size: 12px;
    }
    

    article.blkfriday.clearanceContent div.selectItem {
        margin-top: 0em;
    }
    
    

}


